{% extends "base.html" %}

{% block content %}

    
    <main>
        <br>
        <div class="day-selector">
            <a href="/?weekday=Monday" class="day-link active">Понеділок</a>
            <a href="/?weekday=Tuesday" class="day-link">Вівторок</a>
            <a href="/?weekday=Wednesday" class="day-link">Середа</a>
            <a href="/?weekday=Thursday" class="day-link">Четвер</a>
            <a href="/?weekday=Friday" class="day-link">П'ятниця</a>
            <a href="/?weekday=Saturday" class="day-link">Субота</a>
            <a href="/?weekday=Sunday" class="day-link">Неділя</a>
        </div>

        <section id="channels">
            <div class="channel-grid">
                {% for channel in channels %}
                <div class="channel">
                    <h3>{{channel.title}}
                        {% if current_user.is_superuser %}
                            (id - {{channel.id}})
                        {% endif %}
                    </h3>
                    <table>
                        <tbody>
                            {% for program in channel.programs %}
                            {% if program.weekday.value==weekday %}
                                <tr>
                                    <td>{{program.start_time.strftime('%H:%M')}}</td>
                                    <td>{{program.title}}
                                        {% if current_user.is_superuser %}
                                            (id - {{program.id}})
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %} 
        </section>
    </main>

{% endblock content %}